@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-size: 16px;
  --ff-body-text: 'Poppins', sans-serif;
  --ff-weight-heading: 600;
  --ff-heading-text: 'Fredoka', sans-serif;
  --ff-heading-text-size: clamp(2.2rem, 6vw, 2.5rem);
  --ff-subheading-text-size: clamp(1.75rem, 2vw, 1.875rem);
  --ff-body-text-size: clamp(1rem, 4vw, 1rem);
  --ff-xl-size: clamp(1.5rem, 8.5vw, 2.5rem);
  --ff-xxl-size: clamp(1rem, 5vw, 2.2rem);


  /* --color-regular: hsl(183, 100%, 12%); */
  --color-regular: #282828;
  --color-regular-text: #555555;
  --color-button-one: #3385ff;
  --color-darkblue: #3f59ab;
  --color-bluish: #59cbcf;
  --color-green: #17a3b0;
  --color-magenta: #DE2C83;
  /* --color-footer: hsl(48, 45%, 86%); */
  --color-attenuated: hsl(46, 22%, 88%);
  --color-footer: hsl(51, 39%, 74%);
  --color-hover: hsl(51, 39%, 74%);
  --color-bridge: hsl(48, 45%, 86%);
  --color-menu-icon: hsl(48, 45%, 86%);
  /* --color-orange: hsl(28, 98%, 48%); */
  --color-orange: #df5038;
  --color-yellow: #f2b440;
  --color-red: #f11e1e;
  --color-light: hsl(51, 20%, 93%);

  --ls-body: .5px;
  --ls-heading: 1.5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-regular-text);
  font-family: var(--ff-body-text);
  font-size: 16px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(245,249,251,1) 56%, #c9dbe9 100%);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0;
  font-family: var(--ff-heading-text);
  font-weight: var(--ff-weight-heading);
  color: var(--color-regular);
}

p {
  margin: 0;
  letter-spacing: var(--ls-body);
}

.coverpage__text-container h3.xl-word {
  font-size: var(--ff-xl-size);
}

.form__content a.xxl-word {
  font-size: var(--ff-xxl-size);
}

.header {
  position: sticky;
  padding: 0.5rem 0rem;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #ffffff; */
  transition: all 0.1s ease-in-out;
}

.base-header{
  position: fixed;
  height: 86.75px;
  padding: 0.5rem 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.base-header.scrolled {
  background-color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.logo-link {
  transition: all 0.5s ease-in-out;
}

.logo-link.filter {
  filter: brightness(0) invert(1);
  transition: all 0.5s ease-in-out;
}

.centered {
  margin: 0 auto;
  max-width: 95rem;
  position: relative;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(216, 100%, 60%, 100%);
  backdrop-filter: blur(1rem);
  z-index: 10;
  transition: all 0.2s cubic-bezier(.43,.34,.28,.91) .1s;
}

.mobile-menu a {
  text-transform: uppercase;
}

.mobile-menu a.active {
  color: var(--color-bluish);
  opacity: 0.5;
}

.display-menu-mobile {
  height: 100%;

}

nav.desktop-main-nav {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
}

nav.desktop-main-nav .logo-container,
nav.desktop-main-nav .nav-container,
nav.desktop-main-nav .button-container  {
  position: relative;
}

nav.desktop-main-nav .logo-container {
  max-width: fit-content;
  min-width: 100px;
}

nav.desktop-main-nav .logo-container > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: var(--color-regular);
  font-weight: var(--ff-weight-heading);
  align-items: center;
  font-size: 15px;
  font-family: var(--ff-heading-text);
}

nav.desktop-main-nav .logo-container a > img {
  vertical-align: bottom;
  width: 100%;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91);
  max-width: 75px;
}

.white-filter {
  filter: brightness(0) invert(1);
}

nav.desktop-main-nav .nav-container {
  display: none;
}

nav.desktop-main-nav .nav-container > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

nav.desktop-main-nav .nav-container > ul li {
  margin: 0;
  padding: 0 2rem;
  position: relative;
}

nav.desktop-main-nav .nav-container > ul li a {
  display: block;
  padding: 1rem 0rem;
  text-align: center;
  color: var(--color-regular);
  text-decoration: none;
  font-weight: var(--ff-weight-heading);
  letter-spacing: var(--ls-body);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  position: relative;
}

nav.desktop-main-nav .nav-container > ul li a.active,
nav.desktop-main-nav .nav-container > ul li a:hover {
  color: var(--color-button-one);
}


nav.desktop-main-nav .nav-container > ul li a::before {
  content: ' ';
  position: absolute;
  bottom: 12px;
  width: 0;
  height: 4px;
  background-color: var(--color-button-one);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
}

nav.desktop-main-nav .nav-container > ul li a.active::before,
nav.desktop-main-nav .nav-container > ul li a:hover::before {
  width:100%;
}

nav.desktop-main-nav .button-container {
  max-width: 152px;
}

nav.desktop-main-nav .button-mobile-toggle {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  user-select: none;
}

.button-mobile-toggle span {
  position: relative;
  width: 70%;
  height: 3px;
  background-color: var(--color-regular);
  display: block;
  border-radius: 2px;
  transition: all .5s;
  top: 0;
  bottom: 0;
}

.hero {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.hero.main {
  padding-top: 50px;
}


.hero__text-container {
  position: relative;
  padding: 2rem 0 2rem;
  /* z-index: 1; */
}

.hero__text-container h1,
.hero__text-container h2 {
  text-align: center;
  letter-spacing:var(--ls-heading);
}

.hero__text-container h1 {
  padding: 2rem 0;
}

.hero__text-container h2 {
  font-size: 2.8rem;
  padding-bottom: 3rem;
}

.hero__text-container .call-to-action {
  margin: 0 auto;
}

.hero__rounded-bar {
  content: ' ';
  position: relative;
  bottom: 0;
  left: 50%;
  width: 120%;
  height: 45vw;
  max-height: 1000px;
  background-color: var(--color-button-one);
  transform: translateY(40%) translateX(-50%);
  border-radius: 50%;
}

.container-shape {
  position: relative;
  overflow: hidden;
}

.blue-bg {
  background-color: var(--color-button-one);
}

.yellow-bg {
  background-color: var(--color-yellow);
}

.orange-bg {
  background-color: var(--color-orange);
}

.dark-blue-bg {
  background-color: var(--color-darkblue);
}

.bridge-bg {
  background-color: var(--color-third-blue);
}

.green-bg {
  background-color: var(--color-green);
}

.magenta-bg {
  background-color: var(--color-magenta);
}

.bridge-bg .centered > .section-box {
  padding-top: 0;
  padding-bottom: 0;
}

.colored-cage p,
.colored-cage a,
.colored-cage h2,
.colored-cage h3,
.colored-cage h4 {
  color: #ffffff;
}



.clipped {
  overflow: hidden;
}

.align-items {
  align-items: center;
}

.coverpage.world-canvas {
  position: relative;
  min-height: 100vw;
}

.world-canvas::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 50%;
  width: 150%;
  height: 100%;
  background-image: url(./assets/images/world-map.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--color-button-one);
}

svg {
  filter: url(#shadow);
}

.coverpage__text-container h3 {
  font-size: var(--ff-heading-text-size);
  letter-spacing: var(--ls-heading);
}

.coverpage__text-container p {
  padding: 2rem 0rem;
  letter-spacing: var(--ls-body);
  line-height: 1.7rem;
  font-size: var(--ff-body-text-size);
}
.coverpage__text-container li {
  padding: .5rem 0rem;
  letter-spacing: var(--ls-body);
  line-height: 1.7rem;
  font-size: var(--ff-body-text-size);
  color: var(--color-light);
  list-style: disc;
}

.coverpage__text-container p.questions {
  font-size: 1.3rem;
}

.center-text h3,
.center-text h4,
.center-text p {
  text-align: center;
  margin: 0 auto;
}

.large p,
.large h3,
.large h4 {
  max-width: 900px;
}

.large h4 {
  padding-bottom: 2rem;
  color: var(--color-bluish);
}

.medium p,
.medium h3,
.medium h4 {
  max-width: 600px;
}

.small p,
.small h3,
.small h4 {
  max-width: 500px;
}

span.yellow {
  color: var(--color-yellow);
}

span.bluish {
  color: var(--color-bluish);
}

.cube {
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  /* height: 250px; */
  margin: 0 auto;
  /* position: relative; */
  overflow: hidden;
}

/* .cube:hover::after {
  opacity: 1;
}

.cube::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
} */

.cube.yellow {
  background-color: var(--color-yellow);
}

.cube.orange {
  background-color: var(--color-orange);
}

.cube.red {
  background-color: var(--color-red);
}

.cube.blue {
  background-color: var(--color-bluish);
}

/*------------ CARD --------------*/
.card {
  position: relative;
  min-height: 250px;
}
.card__content {
  transition: transform .7s;
  transform-style: preserve-3d;
  min-height: 300px;
}

.card:hover .card__content {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin-left: auto;
  margin-right: auto;
}

.front {
  left: 50%;
  transform: translateX(-50%);
}

.back {
  transform: rotateY(180deg);
}
.coverpage__cubes-container {
  padding: 4rem 0;
  width: 100%;
  margin: 0 auto;
}

.coverpage__cubes-container h4 {
  font-size: var(--ff-subheading-text-size);
  text-align: center;
  letter-spacing: var(--ls-heading);
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.coverpage__cubes-container p {
  font-size: var(--ff-body-text-size);
  letter-spacing: var(--ls-body);
  z-index: 1;
  position: relative;
}

.coverpage.light-bg {
  position: relative;
  overflow: hidden;
  padding: 4rem 0rem;
  background-color: var(--color-light);
}


.coverpage__rounded-bar{
  position: relative;
  bottom: 0;
  left: 50%;
  width: 120%;
  height: 45vw;
  max-height: 1000px;
  background-color: var(--color-button-one);
  transform: translateY(-40%) translateX(-50%);
  border-radius: 50%;
}

.coverpage__text-container.center.text h3,
.coverpage__text-container.center.text p {
  max-width: 550px;
  margin: 0 auto;
}

.coverpage__activities-container > div .activities__icon-container picture svg {
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91);
  transform-style: preserve-3d;
}

.coverpage__activities-container > div:hover .activities__icon-container picture svg {
  transform: scale(1.1) rotate(90deg);
}

.activities__icon-container {
  max-width: 80px;
  height: 100%;
  position: relative;
}

.activities__text-container h4 {
  font-size: var(--ff-subheading-text-size);
  padding: 0rem 0rem 2rem 0rem ;
  letter-spacing: var(--ls-heading);
}

.activities__text-container p {
  font-size: var(--ff-body-text-size);
  letter-spacing: var(--ls-body);
  padding: 0rem 2rem 1rem 0rem ;
}


footer {
  position: relative;
  background-color: var(--color-yellow);
  padding: 4rem 0;
}

.footer__logo {
  position: relative;
}

.footer__logo > div {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer__logo img {
  width: 100%;
  vertical-align: bottom;
  max-width: 100px;
}


.footer__container h5 {
  font-size: var(--ff-subheading-text-size);
  text-align: center;
  padding-bottom: 1rem;
  letter-spacing: var(--ls-heading);
}

.footer__container p {
  text-align: center;
  padding-bottom: 2rem;
  max-width: 220px;
  margin: 0 auto;
  letter-spacing: var(--ls-body);
  line-height: 1.7rem;
}

.footer__nav a {
  font-size: var(--ff-body-text-size);
  display: block;
  color: var(--color-regular);
  text-decoration: none;
  font-weight: var(--ff-weight-heading);
  padding: 0.5rem 0rem;
  text-align: center;
  letter-spacing: var(--ls-body);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.footer__brand a::before,
.footer__nav a::before {
  position: absolute;
  content: ' ';
  width: 0;
  height: 3px;
  background-color: var(--color-button-one);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  left: 0;
  bottom: 0;
}

.footer__brand a:hover::before,
.footer__nav a:hover::before {
  width: 100%;
}

.footer__social {
  position: relative;
}

.footer__social.flex {
  flex-direction: row;
  justify-content: center;
}

.footer__social img {
  width: 2rem;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
}

.footer__social a {
  position: relative;
  z-index: 1;
}

.footer__social a:hover > img {
  filter: grayscale(100%);
}

.footer__social a::after {
  content: ' ';
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  background-color: var(--color-light);
  bottom: -7.8px;
  left: -8px;
  opacity: 0;
  transform: scale(.5);
  transform-origin: center;
  transition: all .4s ease;
  z-index: -1;
}

.footer__social a:hover::after {
  transform: scale(1);
  opacity: 1;
}

.footer__brand.flex {
  flex-direction: column-reverse;
  padding: 4rem 0;
}

.footer__brand a {
  font-size: var(--ff-body-text-size);
  display: block;
  color: var(--color-regular);
  text-decoration: none;
  padding: 0.5rem 0rem;
  text-align: center;
  letter-spacing: var(--ls-body);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.footer__brand .flex {
  flex-direction: row;
  justify-content: center;
}

.footer__brand a:hover,
.footer__container a:hover {
  color: var(--color-button-one);
}

.section-box {
  border-radius: 1rem;
}

.section-box .image {
  overflow: hidden;
  height: 400px;
  border-radius: 2rem;
}

.section-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
}

.section-page {
  position: relative;
}

.large-gap .flex {
  gap:4rem;
}

.colored-cage h3,
.large-gap h3 {
  padding-top: 2rem;
}

.section-box > .form__content {
  z-index: 1;
  padding: 1rem;
}

.form__content a,
.form__content span {
  display: block;
  letter-spacing: var(--ls-heading);
}

.form__content a {
  font-size: var(--ff-subheading-text-size);
  font-weight: var(--ff-weight-heading);
  word-break: break-all;
}

.form__content span {
  color: var(--color-hover);
  font-size: var(--ff-body-text-size);
}

.form__content h3 {
  font-size: var(--ff-subheading-text-size);
  letter-spacing: var(--ls-heading);
}

.form__content > div input,
.form__content > div label {
  display: block;
}

.form__content > div label {
  color: #ffffff;
  padding: 0.5rem 0;
  letter-spacing: var(--ls-body);
}

.form__content > div input[type="email"],
.form__content > div input[type="text"],
.form__content > div input[type="tel"],
.form__content > div textarea {
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--color-regular);
  font-size: var(--ff-body-text-size);
  width: 100%;
}

.form__content > div textarea {
  resize: none;
  height: 8rem;
}

.form .section-box.orange-bg {
  position: relative;
  overflow: hidden;
}

.form .section-box .image-bg {
  position: relative;
  width: 100%;
  min-height: 320px;
  background: url(assets/images/pexels-naomi-shi-1001914.jpg) no-repeat center center;
  background-size: cover;
}

.form .section-box .image-bg::before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.70);
  z-index: -1;
}

.flex.terms > p {
  font-size: 0.9rem;
}

/* ============================= Especiales ====================================*/
.negative-translate {
  transform: translateY(0rem);
}

.negative-margin-top-15 {
  margin-top: 0rem;
}

.negative-margin-top-20 {
  margin-top: 0rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}


.pv-none {
  pointer-events: none;
}

.position-rel {
  position: relative;
}

.overflow-hide {
  overflow: hidden;
}

.zindex-1 {
  z-index: 1;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-bottom-4 {
  padding-bottom: 4rem;
}

.padding-bottom-2 {
  padding-bottom: 2rem;
}

.padding-top-2 {
  padding-top: 2rem;
}

.padding-2 {
  padding: 2rem;
}

.border-radius {
  border-radius: 1rem;
}

.no-gap {
  gap: 0 !important;
}

.gap-4 {
  gap: 4rem;
}

.gap-2 {
  gap: 2rem;
}

.side-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.xl-side-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.xl-vertical-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.prueba {
  flex: 1 0 100%;
  max-height: 100%;
}

.prueba::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.5032213569021359) 0%, rgba(0,0,0,0) 49%);
  z-index: 1;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.even-flex > div {
  flex: 1 1 calc(50% - 2rem);
}

.even-flex-0 > div {
  flex: 0 1 calc(33% - 3rem);
}


.three-flex > div {
  flex: 1 1 33%;
}

.left-flex-xs > div:first-child {
  flex-basis: 35%;
}

.left-flex-s > div:first-child {
  flex-basis: 45%;
}

.right-flex-xs > div:last-child {
  flex-basis: 35%;
}

.full-flex {
  flex: 1 1 100%;
}

.flex-columns-rows {
  flex-direction: column;
}

.flex-rows {
  flex-direction: row;
}

.flex-columns {
  flex-direction: column;
}

.columns-reverse {
  flex-direction: column-reverse;
}

.flex-columns-to-rows-reverse {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.xs-text {
  font-size: .8rem;
}

.grow-image > img {
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
}

.grow-image:hover > img {
  transform: scale(1.05);
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
}

.pattern.bluish {
  content: ' ';
  position: absolute;
  width: 580px;
  height: 580px;
  background: radial-gradient(circle, var(--color-bluish) 40%, transparent 36%);
  background-size: 2em 2em;
  left: -5%;
  top: 20%;
  transform: rotate(45deg);
  transform-origin: top left;
  opacity: 0.15;
}

.pattern.footer {
  content: ' ';
  position: absolute;
  width: 580px;
  height: 580px;
  background: radial-gradient(circle, var(--color-footer) 40%, transparent 36%);
  background-size: 2em 2em;
  transform: rotate(45deg);
  transform-origin: top left;
  opacity: 0.4;
}

.pattern.footer.top {
  right: -25%;
  top: -10%;
}

.pattern.footer.bottom {
  left: -5%;
  bottom: 20%;
}

.pattern.footer.righty {
  right: -50%;
  bottom: -200%;
  z-index: -1;
}

.joy > i {
  font-style: normal;
}

.joy > i:nth-child(1) {
  color: var(--color-red);
}

.joy > i:nth-child(2) {
  color: var(--color-bluish);
}

.joy > i:nth-child(3) {
  color: var(--color-yellow);
}
/* -------------------------  SHAPES ----------- */

.hexagon {
  position: absolute;
  margin: 0 auto;
  border-radius: 10px;
  width: 100px; 
  height: 63px;
  box-sizing: border-box;
  border: 0.4vh solid transparent;
}

.hexagon.orange.object {
  bottom: 30%;
  left: 15%;
}

.hexagon.orange {
  background-color: var(--color-orange);
}

.hexagon.red {
  background-color: var(--color-red);
}

.hexagon.yellow {
  background-color: var(--color-yellow);
}

.hexagon.bluish {
  background-color: var(--color-bluish);
}

.hexagon.dark-blue {
  background-color: var(--color-darkblue);
}

.hexagon.blue {
  background-color: var(--color-button-one);
}

.hexagon.activities {
  left: -1.5rem;
  top: 0rem;
  transform: scale(0.65);
}

.hexagon.object {
  opacity: 1;
}
.object {
  opacity: 1;
}
/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.hexagon.orange:before,
.hexagon.orange:after {
  background-color: var(--color-orange);
}

.hexagon.red:before,
.hexagon.red:after {
  background-color: var(--color-red);
}

.hexagon.yellow:before,
.hexagon.yellow:after {
  background-color: var(--color-yellow);
}

.hexagon.bluish:before,
.hexagon.bluish:after {
  background-color: var(--color-bluish);
}

.hexagon.dark-blue:before,
.hexagon.dark-blue:after {
  background-color: var(--color-darkblue);
}

.hexagon.blue:before,
.hexagon.blue:after {
  background-color: var(--color-button-one);
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}

.star,
.circle {
  position: absolute;
  opacity: 1;
}

.object > svg {
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91);
}

.object > svg:hover {
  transform: scale(0.9);
}

.star > svg {
  width: 200px;
  height: 200px;
}

.circle.bluish > svg {
  width: 80px;
  height: 80px;
}

.circle.yellow > svg {
  width: 60px;
  height: 60px;
}

.star.beige {
  fill: var(--color-footer);
}

.star.red {
  fill: var(--color-red);
  right: 30%;
  bottom: 15%;
  z-index: 1;
}

.circle.bluish {
  fill: var(--color-bluish);
  left: 30%;
  bottom: 10%;
  z-index: 1;
}

.circle.yellow {
  fill: var(--color-yellow);
  right: 10%;
  top: 10%;
  z-index: 1;
}

.cloud {
	width: 200px;
  height: 80px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: absolute; 
  box-shadow: -6px -2px 60px 20px hsla(183, 100%, 12%, 6%);
}

.cloud-big {
	width: 350px;
  height: 140px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: absolute; 
  box-shadow: -6px -2px 60px 20px hsla(183, 100%, 12%, 6%);
  opacity: 0;
}

@keyframes cloudsMove {
	0%{
		transform: translateX(0);
	}
  50% {
		transform: translateX(15px);
	}
  100% {
		transform: translateX(0px);
	}

}

.cloud-1 {
  right: -15%;
  top: 7rem;

  animation: cloudsMove 2s ease 0s infinite normal forwards;
}

.cloud-2 {
  right: -17%;
  top: 28rem;

  animation: cloudsMove 2s ease 0.5s infinite normal forwards;
}

.cloud-3 {
  left: -15%;
  top: 8rem;

  animation: cloudsMove 2.5s ease 0.5s infinite normal forwards;
}

.cloud-4 {
  left: -25%;
  top: 25rem;

  animation: cloudsMove 2.5s ease 0s infinite normal forwards;
}

.cloud-5 {
  left: 15%;
  top: 12rem;

  animation: cloudsMove 3.5s ease 0.3s infinite normal forwards;
}

.cloud.cloud-1:before,
.cloud.cloud-1:after,
.cloud.cloud-3:before,
.cloud.cloud-3:after {
	content: '';
	position: absolute; 
	background: #fff;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.cloud.cloud-1:before,
.cloud.cloud-3:before {
	width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud.cloud-1:after,
.cloud.cloud-3:after {
	width: 120px;
  height: 120px;
	top: -55px;
  left: auto;
  right: 15px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud.cloud-2:before,
.cloud.cloud-2:after,
.cloud.cloud-4:before,
.cloud.cloud-4:after {
	content: '';
	position: absolute; 
	background: #fff;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.cloud.cloud-2:before,
.cloud.cloud-4:before {
	width: 100px;
  height: 80px;
  bottom: 10px;
  right: 10px;
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
	-moz-transform: rotate(140deg);
}

.cloud.cloud-2:after,
.cloud.cloud-4:after {
	width: 120px;
  height: 120px;
	bottom: 10px;
  left: 10px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud-big.cloud-5:before,
.cloud-big.cloud-5:after {
	content: '';
	position: absolute; 
	background: #fff;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.cloud-big.cloud-5:before {
	width: 200px;
  height: 180px;
  bottom: 50px;
  right: 10px;
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
	-moz-transform: rotate(140deg);
}

.cloud-big.cloud-5:after {
	width: 200px;
  height: 160px;
	bottom: 40px;
  left: 60px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

/*------------- BOUNCE -------------*/

.bouncing-object {
  animation: bouncing .7s ease 0.2s infinite normal forwards;
  position: relative;
}

@keyframes bouncing {
	0%{
		transform: translateY(0);
	}
  50% {
		transform: translateY(5px);
	}
  100% {
		transform: translateY(0px);
	}

}




/* ============================= CALL TO ACTION ====================================*/

.call-to-action {
  display: block;
  padding: .4rem 2rem;
  border-radius: 2rem;
  font-weight: var(--ff-weight-heading);
  font-size: 1rem;
  letter-spacing: var(--ls-body);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.43,.34,.28,.91) .1s;
  border: 3px solid;
  background: transparent;
  text-decoration: none;
  width: fit-content;
  position: relative;
  overflow: hidden;

  --solid-orange: var(--color-orange);
  --solid-blue: hsl(216, 100%, 60%);
  --solid-text: hsl(0, 0%, 100%);
}

.call-to-action.solid {
  color: var(--solid-text);
}

/* .call-to-action::after {
  content: ' ';
  position: absolute;
  background-color: #186be6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom;
  transition: transform 0.15s, 0.15s border-radius 0.15s;
  transform: scale(0.1 ,0.1);
  border-radius: 50%;
  opacity: 0;
}
.call-to-action:hover::after {
  transform: scale(1,1);
  opacity: 1;
  border-radius: 0;
  transition: transform 0.15s, 0.15s border-radius 0.15s;
}

.call-to-action::before {
  content: ' ';
  position: absolute;
  background-color: var(--color-button-one);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

/* .call-to-action.solid:hover {
   filter: brightness(1.2);
} */

.call-to-action.solid.blue {
  background-color: var(--solid-blue);
  border-color:var(--solid-blue);
}

.call-to-action.solid.blue:hover {
  background-color: rgb(16, 107, 244);
  border-color: hsl(216, 91%, 51%);
}

.call-to-action.solid.bluish {
  background-color: var(--color-bluish);
  border-color:var(--color-bluish);
}

.call-to-action.solid.bluish:hover {
  background-color: hsl(182, 76%, 40%);
  border-color: hsl(182, 76%, 40%);
}

.call-to-action.solid.orange {
  background-color: var(--solid-orange);
  border-color:var(--solid-orange);
}

.call-to-action.solid.orange:hover {
  background-color: #cf442b;
  border-color: #cf442b;
}

.call-to-action.ghost {
  background-color: transparent;
}

.call-to-action.ghost.blue {
  color: var(--solid-blue);
  border-color:var(--solid-blue);
}

.call-to-action.ghost.blue.active,
.call-to-action.ghost:hover {
  color: var(--solid-text)
}

.call-to-action.ghost.blue.active,
.call-to-action.ghost.blue:hover {
  background-color: var(--solid-blue);
}

.change-color {
  border-color:#ffffff !important;
  color:#ffffff !important;
}

.centered-button {
  margin: 0 auto;
}


/* -------------- Rocket ---------------- */
.draw {
  height: 300px;
  width: 80px;
  position: absolute;
  border-bottom-width: 0;
  left: 20%;
  top: 700px;
}

/* Rocket */
.rocket {
  position: absolute;
  height: 180px;
  width: 80px;
  bottom: 0;
  left: 0;
  /* transform: translateX(-50%); */
  /* transform: translateY(0%); */
  border-radius: 50% 50% 25% 25% / 50% 50% 40% 40%;
  background-color: transparent;
  /* box-shadow: 0 -3px 0 #FFF; */
  transform-style: preserve-3d;
  
}
.rocket::before,
.rocket:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rocket::before {
  width: 55%;
  height: 10px;
  background-color: transparen;
  bottom: -10px;
  border-radius: 0% 0% 25% 25% / 50% 50% 40% 40%;
}
.rocket:after {
  height: 55px;
  width: 155%;
  background-color: transparent;
  bottom: 0;
  z-index: -10;
  transform: translateX(-50%) translateZ(-1px);
  border-radius: 50% 50% 10% 10% / 90% 90% 20% 20%;
}
.rocket .window {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #9e554f;
  box-sizing: initial;
  border: 5px solid #adadad;
}

.draw.animated .rocket {

    -webkit-animation: shake-vertical 5s ease-out both;
            animation: shake-vertical 5s ease-out both;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-6 21:43:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes shake-vertical {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1%,
  3%,
  5%,
  7%,
  11%,
  13%,
  15%,
  17% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  2%,
  4%,
  6%,
  8%,
  10%,
  12%,
  14%,
  16% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  18% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  20% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }

  100% {
    -webkit-transform: translateY(-1250px);
            transform: translateY(-1250px);
  }
}
@keyframes shake-vertical {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1%,
  3%,
  5%,
  7%,
  11%,
  13%,
  15%,
  17% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  2%,
  4%,
  6%,
  8%,
  10%,
  12%,
  14%,
  16% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  18% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  19% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }

  100% {
    -webkit-transform: translateY(-1250px);
            transform: translateY(-1250px);
  }
}


/* Smoke */
.smoke {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.smoke-rocket {
  min-height: 0px;
  width: 32px;
  /* bottom: 0px; */
  top: 140px;
  left: 24px;
  /* transform: translateX(-50%); */
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to bottom, 
  hsla(39, 87%, 60%, 65%), 
    rgba(255, 255, 255, .9)
  );
  transition: min-height 1s;
  transform-origin: top;
}


.smoke > div {
  position: absolute;
  border-radius: 50%;
}
.smoke .one {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, .4);
  top: 0px;
  left: -180px;
  box-shadow: 
     -50px 80px 0 -30px rgba(255, 255, 255, .4),
     160px 80px 0 0px rgba(255, 255, 255, .4),
     290px 80px 0 -50px rgba(255, 255, 255, .4);
     opacity: 0;
     transform: scale(0.5);
}
.smoke .two {
  height: 210px;
  width: 210px;
  top: 0px;
  left: -90px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 
     -90px 0px 0 -40px rgba(255, 255, 255, 1),
     90px 60px 0 -80px rgba(255, 255, 255, 1),
     80px -40px 0 -50px rgba(255, 255, 255, 1);
  opacity: 0;
  transform: scale(0);
}

.draw.animated .smoke-rocket {
  min-height: 200px;
}

.draw.animated .smoke .one {
  animation: animateSmokeOne 3.5s linear alternate ;
}

.draw.animated .smoke .two {
  animation: animateSmokeTwo 4s linear alternate;
}

@keyframes animateSmokeOne {
  0% {
    transform: scale(0.4);
  }
  20% {
    opacity: .8;
    transform: scale(1.1);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: .8;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: .8;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.7;
    transform: scale(.8);
  }
}

@keyframes animateSmokeTwo {
  0% {
    transform: scale(0.5);
  }
  20% {
    opacity: .8;
    transform: scale(1.1);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: .8;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: .8;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.3;
    transform: scale(.5);
  }
}




/*---------------- POST ----------------------*/
.post__content p {
  padding-bottom: 2rem;
  letter-spacing: var(--ls-body);
  line-height: 1.7rem;
}

.post__content h2 {
  padding-bottom: 2rem;
  letter-spacing: var(--ls-heading);
  font-size: var(--ff-subheading-text-size);
}

.post__content ul  {
  padding: 0rem 0rem 2rem 2rem;
}

.post__content ul li {
  list-style: disc;
  padding-bottom: 0.5rem;
}

.pop-up {
  /* Modify size here: */
  --size: 250px;
  --padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) / 1.5 );
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transform: translateY(1rem);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) .2s;
  background-color: #fff;
  padding: var(--padding);
}

.pop-up:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fff;
  height: 16px;
  width: 16px;
}

.pop-up p {
  color: var(--color-regular);
  font-weight: 600;
  text-align: center;
}

.map-item { 
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
  padding: 2rem 0rem;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 80%;
  max-width: 100px;
  user-select: none;
  filter: drop-shadow(5px 5px 8px rgba(19, 16, 173, 0.5));
}

.map-item img {
  user-select: none;
}

.map-item:hover > .pop-up {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0rem);
}

/* .map-item:hover {
  background-color: var(--color-darkblue);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
} */

.close.button-mobile-toggle span {
  background-color: var(--color-light);
}

.close.button-mobile-toggle span:first-child {
  transform: rotate(45deg);
  top: 8px;
  transform-origin: center;
}

.close.button-mobile-toggle span:last-child {
  transform: rotate(-45deg);
  top: -8px;
  transform-origin: center;
}

.close.button-mobile-toggle span:nth-child(2) {
  width: 0;
  transform-origin: center;
}

nav.desktop-main-nav .close.button-mobile-toggle {
  background-color: var(--color-yellow);
}

.back-icon {
  font-weight: var(--ff-weight-heading);
  transition: all 0.5s;
  padding-left: 1.5rem;
}

.back-icon::before,
.back-icon::after {
  position: absolute;
  content: ' ';
  transition: all 0.3s ease-in-out;
}

.back-icon::before {
  bottom: -10px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: var(--color-regular);
  transform-origin: right;
  border-radius: 5px;
}

.back-icon::after {
  height: 16px;
  width: 16px;
  border: solid var(--color-regular);
  border-width: 5px 0px 0px 5px ;
  transform:translateY(50%) rotate(-45deg);
  left: 0;
  bottom: 50%;
  border-radius: 3px;
}

.back-icon:hover {
  color: var(--color-button-one);
  padding-left: 2rem;
}

.back-icon:hover::before {
  width:6.5rem;
  transition: all 0.5s ease-in-out .1s;
  background-color: var(--color-button-one);
}

.back-icon:hover::after {
  height: 20px;
  width: 20px;
  transform:translateY(145%) rotate(-45deg);
  transition: all 0.3s ease-in-out .1s;
  border-color: var(--color-button-one);
}

.menu-objects::before {
  content: 'MENÚ';
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 700;
  color: var(--color-bluish);
  opacity: 0.5;
  letter-spacing: var(--ls-heading);
}

.label-orange {
  color: var(--color-red) !important;
}

.emoji span:nth-child(1) {
  width: 3rem;
  height: 0.8rem;
  background-color: #bdc3c7;
  /* border-top: solid #bdc3c7;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  border-width: 0.8rem; */
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.emoji span:nth-child(2),
.emoji span:nth-child(3) {
  width: 4rem;
  height: 0.8rem;
  background-color: #bdc3c7;
  bottom: 5.2rem;
}

.emoji span:nth-child(2) {
  left: 2em;
  animation: animateSadFaceLeft 1s linear alternate infinite;
  animation-delay: 0.5s;
}

.emoji span:nth-child(3) {
  right: 2rem;
  animation: animateSadFaceRight 1s linear alternate infinite;
  animation-delay: 0.5s;
}

@keyframes animateSadFaceLeft {
  0% {
    transform: rotate(0Deg);
  }
  100% {
    transform: rotate(-15Deg);
  }
}

@keyframes animateSadFaceRight {
  0% {
    transform: rotate(0Deg);
  }
  100% {
    transform: rotate(15Deg);
  }
}

.social-networks::before {
  content: 'SÍGUENOS EN:';
  position: absolute;
  top: 0.3rem;
  left: 2rem;
  font-weight: 700;
  color: var(--color-bluish);
  opacity: 0.5;
  letter-spacing: var(--ls-heading);
}

.social-networks a {
  display: inline-block;
  width:40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.social-networks a:hover {
  filter: invert(0);
}

.social-networks .facebook::before {
  content: ' ';
  position: absolute;
  background-color: #ffffff;
  width: 31px;
  height: 31px;
  filter: invert(0);
  top: 24px;
  left: 38px;
  pointer-events: none;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  z-index: -1;
  opacity: 0;
}

.social-networks a.facebook:hover::before {
  opacity: 1;
}

.social-networks .facebook::after {
  content: ' ';
  position: absolute;
  background-image: url(./assets/images/iconos/svg/facebook.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 33px;
  height: 33px;
  top: 4px;
  left: 4px;
  pointer-events: none;
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
}

.social-networks a.facebook:hover::after {
  opacity: 1;
}

.social-networks .facebook,
.social-networks .instagram {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  position: relative;
}



.social-networks .instagram {
  background-image: url(./assets/images/iconos/instagram.svg);
}


/* ------------------------ MINI GAMES -------------------*/

.mini-game {
  position: relative;
}

.question-list li {
  padding: 1rem 3rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 5rem;
  background-color: var(--color-darkblue);
  display: block;
  width: fit-content;
  cursor: pointer;
}

.question-list li:hover {
  background-color: #d19016;
}

.badge {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0,0,0,0.7);
}

.badge__container {
  width: 90%;
  max-width: 550px;
}

.medal {
  position: relative;
  width: 100%;
  padding: 1rem 1rem 3rem;
}

.medal img {
  width: 100%;
  max-width: 200px;
  position: relative;
  margin: 0px auto;
}

.game {
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in 0.5s;
}

.hide-game {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: opacity 1s ease-out 0.5s;
}
.opacidad {
  opacity: 0;
  transition: opacity 1s ease-in 0.1s;
}

/*-------------- MEDIA QUERIES ------------------------------ */
@media (min-width: 600px) {
  .coverpage__cubes-container {
    width: 50%;
  }
}

@media (min-width: 756px) {
  .cloud-big {
    opacity: 1;
  }
  .cloud-1 {
    right: 22%;
    top: 12rem;
  }
  
  .cloud-2 {
    right: 17%;
    top: 8rem;
  }
  
  .cloud-3 {
    left: 15%;
    top: 8rem;
  }
  
  .cloud-4 {
    left: 25%;
    top: 12rem;
  }
  
}

@media (min-width: 1024px) {
  .coverpage__cubes-container {
    width: 100%;
  }
  .negative-margin-top-20 {
    margin-top: -20rem;
  }
  .negative-margin-top-15 {
    margin-top: -15rem;
  }
  .negative-translate {
    transform: translateY(-23rem);
  }
  .border-radius {
    border-radius: 3rem;
  }
  .padding-2 {
    padding: 4rem;
  }
  .flex-columns-to-rows-reverse {
    flex-direction: row-reverse;
  }
  .padding-bottom-4 {
    padding-bottom: 8rem;
  }
  .vertical-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .side-padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .xl-side-padding {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  /* .xl-vertical-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
  } */
  .flex-columns-rows {
    flex-direction: row;
  }
  .section-box > .form__content {
    padding: 4rem;
  }
  .centered {
    padding: 0 1.5rem;
  }
  .mobile-menu {
    display: none;
  }

  nav.desktop-main-nav {
    justify-content: space-between;
  }

  nav.desktop-main-nav .nav-container {
    display: block;
  }
  nav.desktop-main-nav .mobile-button-container {
    display: none;
  }
  nav.desktop-main-nav .button-container {
    opacity: 1;
    pointer-events: all;
  }
  .hero__text-container {
    padding: 0rem 0;
  }
  .hero__text-container h2 {
    font-size: 3.8rem;
    max-width: 780px;
    margin: 0 auto;
  }
  
  .cube {
    width: 100%;
  }
  .coverpage.light-bg :last-child > .flex {
    flex-direction: row-reverse;
  }
  .coverpage.light-bg {
    padding: 4rem 0rem 8rem;
  }
  .footer__container.flex {
    flex-direction: row;
  }
  .footer__container.flex > div,
  .footer__brand.flex > div {
    flex-grow: 1;
    flex-basis: 33%;
  }
  .footer__container a,
  .footer__container h5,
  .footer__container p,
  .footer__brand a {
    text-align: left;
    margin: 0;
  }
  .footer__social.flex {
    justify-content: start;
  }
  .footer__brand .flex {
    justify-content: end;
  }
  .footer__logo > div {
    margin: 0;
  }
  footer {
    padding: 8rem 0;
  }
  .footer__brand.flex {
    flex-direction: row;
  }
  .footer__location {
    max-width: 205px;
  }
  .section-box {
    border-radius: 3rem;
  }
  .large-gap.flex .flex > div {
    flex: 0 0 calc(50% - 2rem);
  }
  .themes .image {
    height: 380px;
  }
  .map-item {
    max-width: 200px !important;
  }
}

@media (min-width: 1244px) {
  .coverpage__cubes-container {
    width: 80%;
  }
}

@media (min-width: 1920px) {
}

